<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to our fancy blog</h1>
    <p>
      You have successfully receiveded a comment from user: <%= @comment.user_name %>.
    </p>
    <p>
      The comment's body is:
      <br>
      <%= @comment.body %>.
    </p>
    <p>Thanks you and have a great day!</p>
  </body>
</html>
